img{
  margin-left: 40%;
}

.container{
  text-align: center;
  margin-top: 10px;
}

.btn{
  padding: 15px;
  background-color:green;
  cursor: pointer;
  border-radius: 10px;
  font-size: 25px;
  margin: 5px;

}

.btn:hover{
  background-color: rgb(255, 208, 0);
}

.active{
  background-color: rgb(255, 0, 0);
}
